html,
body {
  padding: 0;
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}
.container .events-container {
  width: 100%;
  padding: 76px 0;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.75s ease-in;
}
.container .events-container .events-set {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100%;
}
.container .events-container .events-set .events-card {
  border-radius: 5%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in;
  box-shadow: 0 0 50px 1px #333333;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.events-nav-dots {
  text-align: center;
  margin: 32px 0;
}
.events-nav-dots .event-nav-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3.5px solid #ffffff;
  margin: 3px;
  display: inline-block;
  cursor: pointer;
  transition: 0.75s;
}
.events-nav-dots .event-nav-dot:nth-of-type(1) {
  background: #ffffff;
}